<html>
    <head>
        <title>
            Senha incorreta
        </title>
        <script>
            confirm('A sala #<%= roomId %> não existe!')
            window.location.replace('/')
        </script>
    </head>
</html>